body {
        background-image: linear-gradient(to bottom, #090979, #0000ff); /* Your gradient */
      
        background-attachment: fixed;
        background-size: cover;
        font-family:Verdana, Geneva, Tahoma, sans-serif; 
        margin: 0; 
        animation:bg-pan-top 8s both;
    }
    @keyframes bg-pan-top {
        0% {
            background-position: center bottom;
        }
        100% {
            background-position: center top;
        }
    }
    .title {
        color: rgb(65, 100, 207);
        text-align: center;
        padding: 20px 0;
        font-size: 4em;
        font-weight: bold;
    }
    .tracking-in-expand{
    }

.tracking-in-expand{animation:tracking-in-expand 2s cubic-bezier(.215,.61,.355,1.000) both}

.subtitle {
        color: rgb(65, 100, 207);
        text-align: center;
        padding: 10px 0;
    }
